.App {
  text-align: center;
  background-image: url('https://res.cloudinary.com/acurunner79/image/upload/v1643594046/header-bg-m_w2qkmn.jpg');
  background-size: 100%;
  background-repeat: repeat;
}

h1, h2, h3, h4, li{
  /* color: rgb(204, 160, 78); */
  color: white;
  text-decoration: none;
  list-style: none;
}

#main-logo{
  width: 55vw;
}

#top-border-img{
  width: 100vw;
}